<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $mpDailyDealHelper = $this->helper('Webkul\MpDailyDeal\Helper\Data');
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = false;
    $showCompare = false;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
            <div class="block-title">
                <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="product-items <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php $product = $mpDailyDealHelper->loadProductById($_item->getId()); ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php if ($templateType): ?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <?= $block->getProductPriceHtml($_item, $type) ?>

                                <?php
                                $dealDetailHtml = '';
                                $type = $product->getTypeId();
                                if ($type != 'configurable') {
                                    $dealDetail = $mpDailyDealHelper->getProductDealDetail($product);
                                    if ($dealDetail && $dealDetail['deal_status'] && isset($dealDetail['diff_timestamp'])) {
                                        $dealDetailHtml = '<div class="deal wk-daily-deal" data-deal-id="'.$product->getId()
                                            .'" data-update-url="'.$dealDetail['update_url'].'" style="display:none;">
                                            <div class="wk-deal-off-box"><div class="wk-deal-left-border">
                                            </div><span class="deal-price-label">'
                                            .$dealDetail['discount-percent'].'% '.__('Off')
                                            .'</span></div><span class="price-box ">';
                                        $saveBox = isset($dealDetail['saved-amount'])? '<p class="wk-save-box "><span class="save-label">'
                                            . __('Save On Deal ').'<span class="wk-deal-font-weight-600">'.$dealDetail['saved-amount']
                                            .'</span></span></p>' : '' ;

                                        $saveBoxAvl = isset($dealDetail['saved-amount']) ? '' : 'notavilable';
                                        $dealDetailHtml = $dealDetailHtml.'<span class="wk-deal-ends-label">'
                                            .__('Deal Ends in ').'&nbsp</span>';
                                        $dealDetailHtml = $dealDetailHtml.'<p class="wk_cat_count_clock wk-deal-font-weight-600'.$saveBoxAvl.'" data-stoptime="'.$dealDetail['stoptime'].'" data-diff-timestamp ="'.$dealDetail['diff_timestamp'].'"></p>'.$saveBox.'</div>';
                                    }
                                    if (!$product->getSpecialPrice() && isset($dealDetail['special-price'])) {
                                        $product->setSpecialPrice($dealDetail['special-price']);
                                        $product->setSpecialFromDate($dealDetail['deal-from-date']);
                                        $product->setSpecialToDate($dealDetail['deal-to-date']);
                                    }
                                } elseif ($type == 'configurable') {
                                    $alldeal = [];
                                    $alldealDetails = [];

                                    $productTypeInstance = $product->getTypeInstance();

                                    $usedProducts = $productTypeInstance->getUsedProducts($product);
                                    $associatedProducts = $this->getAllAssociatedProducts($product->getId());
                                    foreach ($usedProducts as $key => $value) {
                                        $dealDetail = $this->getChildProductDealDetail($value->getId());
                                        if ($dealDetail && $dealDetail['deal_status']
                                        && isset($dealDetail['diff_timestamp'])) {
                                            $alldeal[$value] = $dealDetail['saved-amount'];
                                            $alldealDetails[$value] = $dealDetail;
                                        }
                                    }
                                    $dealDetail = [];
                                    arsort($alldeal);
                                    $i = 1;
                                    foreach ($alldeal as $key => $value) {
                                        if ($i == 1) {
                                            $dealDetail = $alldealDetails[$key];
                                        }
                                    }
                                    if ($dealDetail) {
                                        $dealDetailHtml = '<div class="deal wk-daily-deal" data-deal-id="'.$product->getId()
                                                            .'" data-update-url="'
                                                            .$dealDetail['update_url'].'" style="display:none;"><div class="wk-deal-off-box">
                                                            <div class="wk-deal-left-border"></div><span class="deal-price-label">
                                                            '.$dealDetail['discount-percent'].'% '.__('Off')
                                                            .'</span></div><span class="price-box ">';
                                        $saveBox = isset($dealDetail['saved-amount'])? '<p class="wk-save-box "><span class="save-label">'
                                            . __('Max Save On Deal ').'<span class="wk-deal-font-weight-600">'
                                            .$dealDetail['saved-amount'].'</span></span></p>' : '' ;

                                        $saveBoxAvl = isset($dealDetail['saved-amount']) ? '' : 'notavilable';
                                        $dealDetailHtml = $dealDetailHtml.'<span class="wk-deal-ends-label">'
                                            .__('Deal Ends in ').'&nbsp</span><p class="wk_cat_count_clock wk-deal-font-weight-600'
                                            .$saveBoxAvl.'" data-stoptime="'
                                            .$dealDetail['stoptime'].'" data-diff-timestamp ="'.$dealDetail['diff_timestamp']
                                            .'"></p>'.$saveBox.'</div>';
                                    }
                                    if (!$product->getSpecialPrice() && isset($dealDetail['special-price'])) {
                                        $product->setSpecialPrice($dealDetail['special-price']);
                                        $product->setSpecialFromDate($dealDetail['deal-from-date']);
                                        $product->setSpecialToDate($dealDetail['deal-to-date']);
                                    }
                                }
                                echo $dealDetailHtml;
                                ?>


                                <?= $block->getProductDetailsHtml($_item) ?>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-inner">
                                        <div class="product-item-actions">
                                            <?php if ($showCart): ?>
                                                <div class="actions-primary">
                                                    <?php if ($_item->isSaleable()): ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                        <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_item->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                                            <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                            <?= $block->getBlockHtml('formkey') ?>
                                                            <button type="submit"
                                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                    class="action tocart primary">
                                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                                            </button>
                                                        </form>
                                                    <?php else: ?>
                                                        <?php if ($_item->getIsSalable()): ?>
                                                            <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                            <?php if ($showWishlist || $showCompare): ?>
                                                <div class="actions-secondary" data-role="add-to-links">
                                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                        <a href="#"
                                                           data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                        <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                        <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?= ($iterator == count($items) + 1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>

<script>
    require([
        'jquery',
        'jquery/matchHeight'
    ], function($) {

        $('.products-grid.grid .product-item-name').matchHeight();


    });
</script>