.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu {
left: 100% !important;
box-shadow: none !important;
padding: 10px !important;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list {
margin: 0;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .product-item-photo {
margin: 0;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .product-item {
width: 100% !important;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .product-item-link {
margin: 0;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .product-item-details {
padding: 0;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .product-item-actions {
margin-bottom: 0;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .product-item-info {
	box-shadow: none !important;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .product-item-photo .product-image-wrapper {
	padding: 0 !important;
	height: auto;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .product-image-photo {
	height: 130px;
	margin: 0 auto;
	position: static;
	width: auto;
	object-fit: cover;
	max-width: 100%;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .product-image-photo {
	height: auto;
	transform: scale(1) !important;-webkit-transform: scale(1) !important;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .product-image-photo {
height: 130px;
}

.ves-megamenu .dropdown-menu .content-wrap .megamenu-sidebar, .ves-megamenu .dropdown-menu .content-wrap .megamenu-content {
	width: 100%;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu {
	left: inherit !important;
	box-shadow: none !important;
	padding: 10px !important;
	right: 20px !important;
	width: 220px !important;
	max-width: inherit !important;
	float: right;
	min-width: inherit !important;
}
.nav-item.submenu-left.dropdown-submenu {
	position: static;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .block-title{
	    text-align: center;
    color: #333333;
    font-weight: bold;
}
.ves-megamenu.menu-hover .subhover .submenu .submenu.dropdown-menu .block-products-list .block-title strong{
	font-weight: bold;
}

.navigation .ves-megamenu .level0 .level1.submenu .product-item {
	width: 100%;
}
.navigation .ves-megamenu .level0 .level1.submenu {
	left: ~"calc(100% - 245px)" !important;
	background: transparent;
	box-shadow: none;
	width: 220px;
}
.navigation .ves-megamenu .level0 .level1.submenu .block-title strong {
	color: #333;
	font-weight: 700;
	text-align: center !important;
	width: 100%;
	float: left;
	margin: 0 0 0;
}
.ves-menu .navigation .level0 > .submenu {
	min-height: 490px;
}